In [1]:
tup = 4, 5, 6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6),(7,8)

In [5]:
nested_tup

((4, 5, 6), (7, 8))

In [6]:
tuple([4, 0, 2])

(4, 0, 2)

In [7]:
tup = tuple('hello')

In [8]:
tup

('h', 'e', 'l', 'l', 'o')

In [ ]:
tup = tupe('string')

In [10]:
tup = tuple('string')

In [11]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [12]:
tup[0]

's'

In [13]:
tup = tuple(['foo', [1,2], True])

In [14]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup

('foo', [1, 2], True)

In [17]:
tup[1].append(3)

In [18]:
tup

('foo', [1, 2, 3], True)

In [21]:
tup = (4, 5, 6)
a, b, c = tup

In [22]:
tup

(4, 5, 6)

In [23]:
tup = 4, 5, (6, 7)

In [24]:
tup

(4, 5, (6, 7))

In [25]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [26]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a={0},b={1}, c={2}'.format(a,b,c))

a=1,b=2, c=3
a=4,b=5, c=6
a=7,b=8, c=9

In [29]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [30]:
a, b

(1, 2)

In [31]:
rest

[3, 4, 5]

In [32]:
a = (1,2,3,4,5)
a.count(2)

1

In [33]:
a_list = [2, 3, 7, None]

In [35]:
a_list

[2, 3, 7, None]

In [36]:
tub = ('foo', 'bar', 'baz')
b_list = list(tup)

In [38]:
b_list

[4, 5, (6, 7)]

In [39]:
b_list[1] = "test"

In [40]:
b_list

[4, 'test', (6, 7)]

In [41]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
b_list.append('testvalue')
b_list
0

[4, 'test', (6, 7), 'testvalue']

In [43]:
b_list.pop(2)

(6, 7)

In [44]:
b_list

[4, 'test', 'testvalue']

In [46]:
b_list.remove('test')

In [47]:
b_list

[4, 'testvalue']

In [48]:
'testvalue' in b_list

True

In [51]:
'test' in b_list

False

In [52]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [53]:
x = [4, None, 'foo']
x.extend([7,8,(2,4)])

In [54]:
x

[4, None, 'foo', 7, 8, (2, 4)]

In [55]:
a = [7, 2, 5, 4]
a.sort()

In [56]:
a

[2, 4, 5, 7]

In [57]:
b = ['saw1234', 'small4', 'he', 'sex']

In [58]:
b.sort(key=len)

In [59]:
b

['he', 'sex', 'small4', 'saw1234']

In [60]:
seq = [7,8,2,1,2,3,5]

In [61]:
seq[3:4]

[1]

In [62]:
seq[3:4] = [6, 3]

In [63]:
seq

[7, 8, 2, 6, 3, 2, 3, 5]

In [64]:
seq[-4:0]

[]

In [65]:
seq[-6:-2]

[2, 6, 3, 2]

In [66]:
seq[::-1]

[5, 3, 2, 3, 6, 2, 8, 7]