In [ ]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [5]:
import numpy as np
data = np.array([1, 2, 3, 4])
s2 = pd.Series(data)
print(s2)

0    1
1    2
2    3
3    4
dtype: int32

In [8]:
s3 = pd.Series(data, index=[10, 20, 30, 40])
print(s3)

10    1
20    2
30    3
40    4
dtype: int32

In [19]:
data4 = {'a':1, 'b':2, 'c':3}
s4 = pd.Series(data4, dtype=np.float64)
print(s4)
s4[1:3]
s4['a']
s4[0]

a    1.0
b    2.0
c    3.0
dtype: float64

1.0

In [16]:
s5 = pd.Series(5, index=[0,1,2], dtype=np.float64)
print(s5)

0    5.0
1    5.0
2    5.0
dtype: float64

In [21]:
s6 = pd.Series([1,2,3,4])
s6

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
a = [1, 'a']
a

[1, 'a']

In [25]:
b = (1, 'a', 1)
b

(1, 'a', 1)

In [27]:
c = { 1, 2, 'a'}
c

{1, 2, 'a'}

In [29]:
d = {
    'a':1, 'b':2, 'c':3
}
d

{'a': 1, 'b': 2, 'c': 3}

In [31]:
s6 = pd.Series(['a', 1, 'b', 2])
s6

0    a
1    1
2    b
3    2
dtype: object

In [32]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [39]:
df3 = pd.DataFrame([['a', 'b', 'c', 'd'],['a', 'b', 'c', 'd']], index=[100, 200], 
                   columns=['t1', 't2', 't3', 't4'])
print(df3)

    t1 t2 t3 t4
100  a  b  c  d
200  a  b  c  d

In [41]:
df4 = pd.DataFrame([[1, 2, 3, 4],[5, 5, 5, 5]], index=[100, 200], 
                   columns=['t1', 't2', 't3', 't4'], dtype=np.float64)
print(df4)

      t1   t2   t3   t4
100  1.0  2.0  3.0  4.0
200  5.0  5.0  5.0  5.0

In [49]:
data5 = {'t1' : ['s1','s1-1', 's1-2'], 't2': ['s1', 's1-1', 's1-2']}
df5 = pd.DataFrame(data5, index=[100, 200, 300])
print(df5)

       t1    t2
100    s1    s1
200  s1-1  s1-1
300  s1-2  s1-2

In [53]:
data6 = { 'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
        }
df6 = pd.DataFrame(data6)
print(df6)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4