In [64]:
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen
import re
from urllib.parse import urljoin
from tqdm import tqdm_notebook

df = pd.read_csv('bestresult.csv', index_col=0)
#df['URL'][0]
#df['URL'][1]
#html = urlopen(df['URL'][0])
soup = BeautifulSoup(html, 'html.parser')

price = []
address = []

for n in tqdm_notebook(df.index):
    html = urlopen(df['URL'][n])
    temp = BeautifulSoup(html, 'lxml')
    gettings = temp.find('p', 'addy').get_text()
    price.append(gettings.split()[0][:-1])
    address.append(' '.join(gettings.split()[1:-2]))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

In [49]:
len(price), len(address), len(df)

(50, 50, 50)

In [65]:
df["Price"] = price
df["Address"] = address
df.head()

,Rank,Cafe,Menu,URL,Price,Address
0,1,Old Oak Tap,BLT,http://www.chicagomag.com/Chicago-Magazine/Nov...,$10,"2109 W. Chicago Ave.,"
1,2,Au Cheval,Fried Bologna,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9,"800 W. Randolph St.,"
2,3,Xoco,Woodland Mushroom,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9.50,"445 N. Clark St.,"
3,4,Al’s Deli,Roast Beef,http://www.chicagomag.com/Chicago-Magazine/Nov...,$9.40,"914 Noyes St., Evanston,"
4,5,Publican Quality Meats,PB&L,http://www.chicagomag.com/Chicago-Magazine/Nov...,$10,"825 W. Fulton Mkt.,"

In [66]:
df = df.loc[:, ['Rank', 'Cafe', 'Menu', 'Price', 'Address']]
df.set_index('Rank', inplace=True)

In [68]:
df.head()

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,"
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,"
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,"
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,"
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,"

In [70]:
df.to_csv("bestresult2.csv", sep=',', encoding='UTF-8')

In [73]:
import folium
import googlemaps
import pandas as pd
import numpy as np
df = pd.read_csv("bestresult2.csv", index_col=0)
df.head()

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,"
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,"
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,"
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,"
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,"

In [89]:
mykey = "AIzaSyC6Zc0udoit-D6BbMqoMBZyPUFR2-DNCG0"
gmaps = googlemaps.Client(key=mykey)

lat = []
lng = []
for n in tqdm_notebook(df.index):
    #if df['Address'][n] != 'Multiple':
        target = df['Address'][n] + ', '+'Chicago'
        output = gmaps.geocode(target)
        location = output[0].get('geometry')
        lat.append(location['location']['lat'])
        lng.append(location['location']['lng'])

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

In [91]:
len(lat), len(lng)

(50, 50)

In [93]:
df['lat'] = lat
df['lng'] = lng
df.head()

,Cafe,Menu,Price,Address,lat,lng
Rank,,,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,",41.895605,-87.679961
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,",41.884658,-87.647667
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,",41.890618,-87.630933
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,",42.058322,-87.683748
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,",41.886566,-87.648575

In [99]:
mapping = folium.Map(location=[df['lat'].mean(), df['lng'].mean()], zoom_start=11)
folium.Marker([df['lat'].mean(), df['lng'].mean()], popup='center').add_to(mapping)
mapping