In [8]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s)
print(s.axes)
print(s.empty)
print(s.ndim)
print(s.size)
print(s.values)
print(s.head(2))
print(s.tail(2))

0   -1.307320
1   -0.999548
2    0.187289
3    0.275474
dtype: float64
[RangeIndex(start=0, stop=4, step=1)]
False
1
4
[-1.30732006 -0.99954778  0.18728871  0.27547422]
0   -1.307320
1   -0.999548
dtype: float64
2    0.187289
3    0.275474
dtype: float64

In [11]:
data2 = {
    'Name' : pd.Series(['Tom', 'Jane', 'Thoms', 'Nick']),
    'Age' : pd.Series([24,25, 21, 20]),
    'Rating' : pd.Series([4.21, 4.25, 4.21, 4.11])
}
df = pd.DataFrame(data2)
print(df)

   Age   Name  Rating
0   24    Tom    4.21
1   25   Jane    4.25
2   21  Thoms    4.21
3   20   Nick    4.11

In [18]:
print(df.T) #Transpose
print(df.axes)
print(df.dtypes)
print(df.shape)
print(df.values)
print(df.head(2))
print(df.tail(2))

           0     1      2     3
Age       24    25     21    20
Name     Tom  Jane  Thoms  Nick
Rating  4.21  4.25   4.21  4.11
[RangeIndex(start=0, stop=4, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]
Age         int64
Name       object
Rating    float64
dtype: object
(4, 3)
[[24 'Tom' 4.21]
 [25 'Jane' 4.25]
 [21 'Thoms' 4.21]
 [20 'Nick' 4.11]]
   Age  Name  Rating
0   24   Tom    4.21
1   25  Jane    4.25
   Age   Name  Rating
2   21  Thoms    4.21
3   20   Nick    4.11

In [25]:
#print(df)
#print(df.sum())
#print(df.sum(1))
print(df.mean())
print(df.std())

Age       22.500
Rating     4.195
dtype: float64
Age       2.380476
Rating    0.059722
dtype: float64