In [6]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4,3), columns=['col1', 'col2', 'col3'])
for key, value in df.iteritems():
    print(key, value)
# iterrows()
# itertubles()
df3 = df.sort_index()
df3 = df.sort_index(asecending = False)

col1 0   -0.317899
1   -0.064184
2    0.604563
3    1.056305
Name: col1, dtype: float64
col2 0   -2.346393
1   -1.236003
2   -1.271331
3   -0.067041
Name: col2, dtype: float64
col3 0    0.555153
1    1.294380
2   -0.194728
3    1.024959
Name: col3, dtype: float64

       col1      col2      col3
0 -0.317899 -2.346393  0.555153
1 -0.064184 -1.236003  1.294380
2  0.604563 -1.271331 -0.194728
3  1.056305 -0.067041  1.024959