In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3), 
                 index=['a', 'c','e','f', 'h'],
                  columns=['one', 'two','three'])
print(df)
df = df.reindex(['a', 'b','c', 'd','e', 'f','g', 'h'])
df
#df['one'].isnull()
#df['one'].sum()
df.fillna(0)

        one       two     three
a -1.097637  0.796070 -0.639117
c  0.201211 -0.909976  0.585695
e  1.029080  1.204757  1.040011
f -1.441886 -0.449562  0.534005
h  0.373825 -0.520223  0.923067

        one       two     three
a -1.097637  0.796070 -0.639117
b  0.000000  0.000000  0.000000
c  0.201211 -0.909976  0.585695
d  0.000000  0.000000  0.000000
e  1.029080  1.204757  1.040011
f -1.441886 -0.449562  0.534005
g  0.000000  0.000000  0.000000
h  0.373825 -0.520223  0.923067