In [8]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s)
print(s.axes)
print(s.empty)
print(s.ndim)
print(s.size)
print(s.values)
print(s.head(2))
print(s.tail(2))

0   -1.307320
1   -0.999548
2    0.187289
3    0.275474
dtype: float64
[RangeIndex(start=0, stop=4, step=1)]
False
1
4
[-1.30732006 -0.99954778  0.18728871  0.27547422]
0   -1.307320
1   -0.999548
dtype: float64
2    0.187289
3    0.275474
dtype: float64

In [11]:
data2 = {
    'Name' : pd.Series(['Tom', 'Jane', 'Thoms', 'Nick']),
    'Age' : pd.Series([24,25, 21, 20]),
    'Rating' : pd.Series([4.21, 4.25, 4.21, 4.11])
}
df = pd.DataFrame(data2)
print(df)

   Age   Name  Rating
0   24    Tom    4.21
1   25   Jane    4.25
2   21  Thoms    4.21
3   20   Nick    4.11

In [18]:
print(df.T) #Transpose
print(df.axes)
print(df.dtypes)
print(df.shape)
print(df.values)
print(df.head(2))
print(df.tail(2))

           0     1      2     3
Age       24    25     21    20
Name     Tom  Jane  Thoms  Nick
Rating  4.21  4.25   4.21  4.11
[RangeIndex(start=0, stop=4, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]
Age         int64
Name       object
Rating    float64
dtype: object
(4, 3)
[[24 'Tom' 4.21]
 [25 'Jane' 4.25]
 [21 'Thoms' 4.21]
 [20 'Nick' 4.11]]
   Age  Name  Rating
0   24   Tom    4.21
1   25  Jane    4.25
   Age   Name  Rating
2   21  Thoms    4.21
3   20   Nick    4.11

In [26]:
#print(df)
#print(df.sum())
#print(df.sum(1))
print(df.mean())
print(df.std())
print(df.describe())

Age       22.500
Rating     4.195
dtype: float64
Age       2.380476
Rating    0.059722
dtype: float64
             Age    Rating
count   4.000000  4.000000
mean   22.500000  4.195000
std     2.380476  0.059722
min    20.000000  4.110000
25%    20.750000  4.185000
50%    22.500000  4.210000
75%    24.250000  4.220000
max    25.000000  4.250000

In [ ]:
data3 = {
    'Name' : pd.Series(['Tom', 'Jane', 'Thoms', 'Nick']),
    'Age' : pd.Series([24,25, 21, 20]),
    'Rating' : pd.Series([4.21, 4.25, 4.21, 4.11])
}

In [28]:
def adder(a,  b):
    return a + b

df = pd.DataFrame(np.random.randn(5,3), columns=['col1', 'col2', 'col3'])
print(df)
df.pipe(adder, 2)
print(df.apply(np.mean))

       col1      col2      col3
0  0.969521  1.285004 -1.378558
1 -1.219010  0.509898 -1.217871
2  0.004606  0.147815  0.385425
3 -0.223553 -1.077405 -0.204720
4 -0.657029  1.173949  0.840337
col1   -0.225093
col2    0.407852
col3   -0.315077
dtype: float64

In [39]:
N = 20;
df = pd.DataFrame(
    {
        'A' : pd.date_range(start='2018-01-01', periods=N, freq='D'),
        'x' : np.random.rand(N),
        'y' : np.random.rand(N),
        'C' : np.random.rand(N),
        'D': np.random.normal(100, 10, size=(N)).tolist()
    }
)
print(df)
df_reindexed = df.reindex(index=[0, 2, 5], columns=['A', 'C', 'B'])
print(df_reindexed)

            A         C           D         x         y
0  2018-01-01  0.076208   90.138651  0.635625  0.320928
1  2018-01-02  0.771133   96.896195  0.144395  0.671688
2  2018-01-03  0.935684   90.174142  0.522537  0.766792
3  2018-01-04  0.264533  103.673405  0.675259  0.117984
4  2018-01-05  0.268993  106.866865  0.869888  0.266415
5  2018-01-06  0.033666  102.079380  0.108088  0.079102
6  2018-01-07  0.227696  108.537274  0.326969  0.366484
7  2018-01-08  0.328259  103.040714  0.934561  0.203939
8  2018-01-09  0.250767   98.681140  0.880216  0.203421
9  2018-01-10  0.178097   76.667280  0.344121  0.095181
10 2018-01-11  0.984704  111.070975  0.995316  0.796522
11 2018-01-12  0.462469   90.490865  0.708336  0.330630
12 2018-01-13  0.417031   88.847196  0.240893  0.421427
13 2018-01-14  0.450828   97.192341  0.785421  0.007836
14 2018-01-15  0.033697   86.505543  0.343426  0.799599
15 2018-01-16  0.275132   91.776683  0.135543  0.844762
16 2018-01-17  0.943832  114.387218  0.569677  0.978676
17 2018-01-18  0.196895  104.371060  0.193738  0.269115
18 2018-01-19  0.399343  114.052010  0.418845  0.742179
19 2018-01-20  0.435908   97.819344  0.249731  0.385998
           A         C   B
0 2018-01-01  0.076208 NaN
2 2018-01-03  0.935684 NaN
5 2018-01-06  0.033666 NaN