In [4]:
import pandas as pd

one = pd.DataFrame({'id' : [1, 2, 3, 4, 5],
    'Name' : ['Alex', 'Amy', 'Allen', 'Alice', 'Tom'],
    'subject_id' : ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})

two = pd.DataFrame({'id' : [1, 2, 3, 4, 5],
    'Name' : ['Blex', 'Bmy', 'Bllen', 'Blice', 'Yom'],
    'subject_id' : ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})

pd.concat([one, two])
pd.concat([one, two], keys=['x', 'y'])
pd.concat([one, two], keys=['x', 'y'], ignore_index=True)

    Name  id subject_id
0   Alex   1       sub1
1    Amy   2       sub2
2  Allen   3       sub4
3  Alice   4       sub6
4    Tom   5       sub5
5   Blex   1       sub2
6    Bmy   2       sub4
7  Bllen   3       sub3
8  Blice   4       sub6
9    Yom   5       sub5

In [16]:
import pandas as pd
#print(pd.date_range('1/1/2018', periods=5))
#print(pd.date_range('1/1/2018', periods=5, freq='D'))
#print(pd.date_range('1/1/2018', periods=5, freq='M'))

start = pd.datetime(2017,1,1)
end = pd.datetime(2018, 1, 1)
pd.date_range(start, end, freq='D')

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')