In [8]:
import pandas as pd

left = pd.DataFrame({'id' : [1, 2, 3, 4, 5],
    'Name' : ['Alex', 'Amy', 'Allen', 'Alice', 'Tom'],
    'subject_id' : ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})

right = pd.DataFrame({'id' : [1, 2, 3, 4, 5],
    'Name' : ['Blex', 'Bmy', 'Bllen', 'Blice', 'Yom'],
    'subject_id' : ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})

print(left)
print(right)
pd.merge(left, right, on='id')
pd.merge(left, right, on=['id', 'subject_id'])
pd.merge(left, right, on='subject_id', how='left')
pd.merge(left, right, on='subject_id', how='right')
pd.merge(left, right, on='subject_id', how='outer')
pd.merge(left, right, on='subject_id', how='inner')

    Name  id subject_id
0   Alex   1       sub1
1    Amy   2       sub2
2  Allen   3       sub4
3  Alice   4       sub6
4    Tom   5       sub5
    Name  id subject_id
0   Blex   1       sub2
1    Bmy   2       sub4
2  Bllen   3       sub3
3  Blice   4       sub6
4    Yom   5       sub5

  Name_x  id_x subject_id Name_y  id_y
0    Amy     2       sub2   Blex     1
1  Allen     3       sub4    Bmy     2
2  Alice     4       sub6  Blice     4
3    Tom     5       sub5    Yom     5