In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
data2 = [['Alex', 10], ['Bob', 12], ['Tom', 12]]
df = pd.DataFrame(data2, columns=['Name', 'Age'], dtype=float)
print(df)

   Name   Age
0  Alex  10.0
1   Bob  12.0
2   Tom  12.0

In [10]:
data3 = {'Name' : ['Alex', 'Bob', 'Tom'], 'Age': [10,20,30]}
df = pd.DataFrame(data3 )
print(df)

   Age  Name
0   10  Alex
1   20   Bob
2   30   Tom

In [12]:
data4 = [{'a':1, 'b':2, 'c': 3}, {'a':4, 'b':5, 'c': 6}]
df = pd.DataFrame(data4)
print(df)

   a  b  c
0  1  2  3
1  4  5  6

In [24]:
data5 = {'one' : pd.Series([1,2,4]), 'two' : pd.Series([2, 4, 5])}
df = pd.DataFrame(data5)
print(df)
print(df['one'])
df['three'] = pd.Series([3,4,5])
print(df)
del df['two']
print(df)
df.iloc[2]
df[1:2]

   one  two
0    1    2
1    2    4
2    4    5
0    1
1    2
2    4
Name: one, dtype: int64
   one  two  three
0    1    2      3
1    2    4      4
2    4    5      5
   one  three
0    1      3
1    2      4
2    4      5

   one  three
1    2      4

In [26]:
import pandas as pd
import numpy as np
data = np.random.rand(2, 4, 5)
p = pd.Panel(data)
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

In [ ]:
data2 = { 
            'Item1' : pd.DataFrame(np.random.randn(4, 3)),
            'Item1' : pd.DataFrame(np.random.randn(4, 2)),
        }