In [18]:
#u.data
# movielens
import pandas as pd
import numpy as np

rating_df = pd.read_csv("./data/u.data", delimiter="\t", header=None)
rating_df.columns = ["userid", "movieid", "rating", "timestamp"]
rating_df.head(5)
usercount = len(rating_df.userid.unique())
moviecount = len(rating_df.movieid.unique())
#usercount, moviecount
#rating_df
rating_df.drop("timestamp", inplace=True, axis=1)

In [20]:
movies_df = pd.read_csv("./data/u.item", delimiter="\|", header=None)

C:\Users\tj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [22]:
movies_df = movies_df.iloc[:, :2]

In [25]:
movies_df.columns = ["movieid", "title"]
movies_df.head(10)

   movieid                                              title
0        1                                   Toy Story (1995)
1        2                                   GoldenEye (1995)
2        3                                  Four Rooms (1995)
3        4                                  Get Shorty (1995)
4        5                                     Copycat (1995)
5        6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6        7                              Twelve Monkeys (1995)
7        8                                        Babe (1995)
8        9                            Dead Man Walking (1995)
9       10                                 Richard III (1995)

In [26]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation